CONFIG_TARGET_realtek=y
CONFIG_TARGET_realtek_rtl8197f=y
CONFIG_TARGET_realtek_rtl8197f_DEVICE_RSD0614=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_KERNEL_CRASHLOG is not set
# CONFIG_PACKAGE_kmod-rtw88 is not set
# CONFIG_PACKAGE_rtl8822be-firmware is not set
# CONFIG_PACKAGE_kmod-rtl8192cd is not set
# CONFIG_PACKAGE_wpad-basic is not set
# CONFIG_PACKAGE_iw is not set
# CONFIG_PACKAGE_luci is not set
# CONFIG_PACKAGE_iperf3 is not set
# CONFIG_PACKAGE_tcpdump-mini is not set
# CONFIG_PACKAGE_wpad-mini is not set
# CONFIG_PACKAGE_hostapd is not set
# CONFIG_PACKAGE_hostapd-common is not set
# CONFIG_PACKAGE_hostapd-mini is not set
# CONFIG_TARGET_ALL is not set
# CONFIG_TARGET_MULTI_PROFILE is not set
